* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #242424;
  color: white;
}

main {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.accordion {
  border: 1px solid white;
  padding: 1rem 1rem;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.196);
}

.block {
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.arrow__img {
  cursor: pointer;
  transition: transform 0.5s;
}

.arrow__img--active {
  transform: rotate(180deg);
  filter: invert(60%) sepia(1) brightness(150%) saturate(200%);
}

.paragraph {
  /* background-color: salmon; */
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;

  transition: all 0.3s ease;
}

.block--active .paragraph {
  height: auto;
  opacity: 1;
  padding: 1rem;
}
